serviceregistry-common/src/main/resources/description.common.serviceregistry.service.dsp.vtt.fi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema 
	targetNamespace="description.common.serviceregistry.service.dsp.vtt.fi" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns="description.common.serviceregistry.service.dsp.vtt.fi" 
	xmlns:dspsrvregcommdesc="description.common.serviceregistry.service.dsp.vtt.fi" 
	xmlns:dspsrvregcommdata="data.common.serviceregistry.service.dsp.vtt.fi" 
	xmlns:dspsrvfwcomm="common.serviceframework.dsp.vtt.fi" 
	xmlns:dspsfwschema="schema.common.serviceframework.dsp.vtt.fi" 
	xmlns:dspsrvfwschema="schema.common.serviceregistry.service.dsp.vtt.fi">
	<xsd:import namespace="schema.common.serviceregistry.service.dsp.vtt.fi" schemaLocation="schema.common.serviceregistry.service.dsp.vtt.fi.xsd"/>
	<xsd:import namespace="schema.common.serviceframework.dsp.vtt.fi" schemaLocation="schema.common.serviceframework.dsp.vtt.fi.xsd"/>
	<xsd:import namespace="common.serviceframework.dsp.vtt.fi" schemaLocation="common.serviceframework.dsp.vtt.fi.xsd"/>
	<xsd:import namespace="data.common.serviceregistry.service.dsp.vtt.fi" schemaLocation="data.common.serviceregistry.service.dsp.vtt.fi.xsd"/>
	<xsd:complexType name="AvailabilityDeclaration">
		<xsd:annotation>
			<xsd:documentation>Main class for the declared availability by the developer for this service </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="declaredAvailability" type="dspsrvfwcomm:ServiceAvailability" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Declared service availability</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Dependency">
		<xsd:annotation>
			<xsd:documentation>Dependencies that this service is depending on</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="dependencyId" type="dspsfwschema:stringMaxLength30" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unique identifier of the depency</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dependsOnServiceId" type="dspsfwschema:stringMaxLength30" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unique identifier of the service that is depended on</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HumanReadableDescription">
		<xsd:annotation>
			<xsd:documentation>Class for the human readable service description like web pages or other documentation</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="humanReadableDescriptionURI" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>URI for the provided human readable description or documentation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="humanReadableDescription" type="dspsfwschema:stringMaxLength1000" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Provided human readable description or document content</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ServiceDescription">
		<xsd:annotation>
			<xsd:documentation>Main entity for the identified and registered service</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="serviceDescriptionTitle" type="dspsfwschema:stringMaxLength50" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Well descriptive title of the service description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="serviceDescriptionVersion" type="dspsfwschema:stringMaxLength30" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Version identifier of the service description following developer's own format</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="serviceIconURI" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>URI to the logo representing the service in the registry</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maturity" type="dspsfwschema:stringMaxLength30" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Maturity of the service description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="keywords" type="dspsfwschema:stringMaxLength30" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Selected set of keywords describing the service</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="serviceProviderId" type="dspsfwschema:stringMaxLength30" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Identification of the service provider</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="createdOnDate" type="dspsfwschema:timeStamp" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Date this service description was created</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="modifiedOnDate" type="dspsfwschema:timeStamp" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Date this service description was modified last time</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="modifiedByUserId" type="dspsfwschema:stringMaxLength30" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="createdByUserId" type="dspsfwschema:stringMaxLength30" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ownerGroup" type="dspsfwschema:stringMaxLength30" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Owner group id of service description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AvailabilityDeclaration" type="AvailabilityDeclaration" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Dependency" type="Dependency" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="HumanReadableDescription" type="HumanReadableDescription" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="TechnicalServiceDescription" type="TechnicalServiceDescription" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="UserRating" type="UserRating" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="UserFeedback" type="UserFeedback" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ServiceDataDescription" type="dspsrvregcommdata:ServiceDataDescription" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="serviceProvider" type="ServiceProvider" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Service Provider of this service description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="compatibleServices" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A list of serviceIds with which the service is compatible with</xsd:documentation>
				</xsd:annotation>
			</xsd:element>				
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ServiceProvider">
		<xsd:annotation>
			<xsd:documentation>Information about the Service Provider (mainly for contract purposes)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		<xsd:element name="id" type="dspsfwschema:stringMaxLength30" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unique identifier of the Service Provider. Relation to serviceProviderId??</xsd:documentation>
				</xsd:annotation>
		</xsd:element>
		<xsd:element name="vatNumber" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>VAT number (Y-tunnus in Finnish) of the Service Provider</xsd:documentation>
				</xsd:annotation>
		</xsd:element>
		<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Name of the Service Provider</xsd:documentation>
				</xsd:annotation>
		</xsd:element>
		<xsd:element name="address1" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Address of the Service Provider</xsd:documentation>
				</xsd:annotation>
		</xsd:element>
		<xsd:element name="address2" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Address of the Service Provider</xsd:documentation>
				</xsd:annotation>
		</xsd:element>
		<xsd:element name="postalCode" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Postal code of the Service Provider</xsd:documentation>
				</xsd:annotation>
		</xsd:element>
		<xsd:element name="city" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>City of the Service Provider</xsd:documentation>
				</xsd:annotation>
		</xsd:element>
		<xsd:element name="state" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>State of the Service Provider</xsd:documentation>
				</xsd:annotation>
		</xsd:element>
		<xsd:element name="country" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Country of the Service Provider</xsd:documentation>
				</xsd:annotation>
		</xsd:element>
		<xsd:element name="contactEmail" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Email of the Service Provider</xsd:documentation>
				</xsd:annotation>
		</xsd:element>
		<xsd:element name="contactTel" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Telephone of the Service Provider</xsd:documentation>
				</xsd:annotation>
		</xsd:element>
		<xsd:element name="jurisdiction" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Defines under which law the Service Provider is operating</xsd:documentation>
				</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UserFeedback">
		<xsd:annotation>
			<xsd:documentation>Main class for user provided feedback for the service</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="userFeedbackId" type="dspsfwschema:stringMaxLength30" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unique identifier of the user feed back</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="providedByUserId" type="dspsfwschema:stringMaxLength30" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>User id of the feedback provider</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="feedback" type="dspsfwschema:stringMaxLength1000" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Free text formed feedback by the user</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="userRating" type="dspsrvfwschema:ratingValue" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Rating value provided by the user for the service</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="createdOnDate" type="dspsfwschema:timeStamp" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Date this user feedback was added</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TechnicalServiceDescription">
		<xsd:annotation>
			<xsd:documentation>Main class for the technical service description</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="technicalDescriptionId" type="dspsfwschema:stringMaxLength30" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unique identifier of the technical service description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalDescriptionURI" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>URI to the service description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="implementedByServiceInstanceId" type="dspsfwschema:stringMaxLength30" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Service instance identifier array of the services that implement this technical description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalServiceAccessProtocol" type="dspsfwschema:stringMaxLength30" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Service access protocol identifier intended to be used with the service technically described</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="technicalDescriptionFormat" type="dspsfwschema:stringMaxLength30" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Format of the document that can be found behind the URI</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UserRating">
		<xsd:annotation>
			<xsd:documentation>Class for the service user based ratings</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="rating" type="dspsrvfwschema:ratingValue" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>User provided average rating value</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>